h1 Question

p Your question successfully created.

= link_to 'Back to list', questions_path 
p: strong = @question.title
p = @question.body
= link_to 'Edit', edit_question_path(@question) 
hr

h2 Answers
- unless @question.answers.empty?
  ul.answers
    / = render @question.answers
    = render 'answers'
- else
  p No answers found.

h3 Add answer
= render 'answers/form' 

